<header>
        <div class="ui stackable menu inverted">
            <a class="item" href="/Suppliers/new" > <i class="large plus square outline icon"></i>New Supplier</a>
            <a class="item" href="/Suppliers" ><i class="large list  outline icon"></i>All Suppliers</a>
        </div>

</header>
<div class="ui raised very padded text container segment">
        <h1>Suppliers</h1>
    </div>