<header>
        <div class="ui stackable menu inverted">
            <a class="item" href="/PurchaseOrders/new" ><i class="large plus square outline icon"></i>New Order</a>
            <a class="item" href="/PurchaseOrders"><i class="large list  outline icon"></i>All Orders</a>
            <a class="item" href="/PurchaseOrders/myOrders"><i class="large list  outline icon"></i>My Orders</a>
        </div>

</header>
<div class="ui raised very padded text container segment">
    <h1>Purchase Orders</h1>
</div>

