<header>
        <div class="ui stackable menu inverted">
            <a class="item" href="/Jobs/new" ><i class="large plus square outline icon"></i>New Job</a>
            <a class="item" href="/Jobs"><i class="large list  outline icon"></i>All Jobs</a>
        </div>

</header>
<div class="ui raised very padded text container segment">
        <h1>Jobs</h1>
    </div>