<html>
    <head>
        <% include ../partials/head %>
    </head>
<body>
    <header>
        <% include ../partials/header %>
        <% include ../partials/headerJobs %>
    </header>

    <% 
        jobs.forEach(function(job)
        {
    %>



        <div class="ui raised very padded text container segment">
            <div class="caption">
            <h4>
                <%= 
                    job.name
                %>
            </h4>
            </div>
            <p>
                <a href="/jobs/<%= job._id %>" class="btn btn-primary">
                    <i class="icon file outline"></i>
                    More info
                </a>
                
            </p>
        </div>



    <%    
    })
    %>
</body>
</html>
