<html>
<head>
        <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
        <% include ../partials/headerPurchaseOrders %>
    </header>
    <div class="ui raised very padded text container segment">

            <div class="ui header">
                <%= purchaseOrder.name %>
            </div>
              
        
            <form method="POST" action="/purchaseOrders/<%=purchaseOrder._id%>?_method=PUT" class="ui form">
        
                <label for="purchaseOrder[name]">Name</label>
                <input type="text" name="purchaseOrder[name]" value="<%=purchaseOrder.name%>" >

                <label for="purchaseOrder[description]">Description</label>
                <input type="text" name="purchaseOrder[description]" value="<%=purchaseOrder.description %>">
                
                <input class="ui" type="submit">


            </form>

            

    </div>
</body>